<html ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
	.form-error input.ng-invalid {
	    border-color:red;
	}
	.error-messages {
	    color:red;
	}
</style>
</head>
<body ng-controller="horariosTurnoController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">{{subtitulo}}</h4>
                    </div>
                    <div class="content">
                        <form id="formhorariosTurno" name="form">
                        	<h4>Dados do Horário Turno</h4>
							<hr>
							<div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Horário</label>
                                        <select ng-model="horariosTurno.horario" name="horario" id="selectHorarioTurnos" class="form-control" required> 
										  <option value="">Selecione</option> 
										  <option ng-repeat="horario in horarios" value="{{horario}}">
										  	{{horario}}
										  </option>
										</select>
										
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Turno</label>
                                        <select ng-model="horariosTurno.turno" id="selectTurnos" class="form-control" required> 
										  <option value="">Selecione</option> 
										  <option ng-repeat="item in turnos" value="{{item}}">
										  	{{item.nome}}
										  </option>
										</select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Hora Inicial</label>
                                        <input type="time" id="horaInical" name="horaInical" ng-model="horariosTurno.horaInicial" class="form-control border-input" required>                                        
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Hora Final</label>
                                        <input type="time" id="horaFinal" name="horaFinal" ng-model="horariosTurno.horaFinal" class="form-control border-input" required>
                                    </div>
                                </div>

                            </div>

							<div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd" ng-click="salvar();">Salvar</button>
                                <button type="submit" class="btn btn-danger btn-fill btn-wd" ng-click="cancelar();">Cancelar</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </body>
</html>
