<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	<div class="sidebar-wrapper">
          <div class="logo">
              <a href="#" class="simple-text">
                 SGE
              </a>
          </div>
          <ul class="nav">
          	<h6 class="dropdown-header">Cadastros</h6>
              <li>
                  <a href="#/disciplinas">
                      <p>Disciplinas</p>
                  </a>
              </li>
              <li>
                  <a href="#/alunos">
                      <p>Alunos</p>
                  </a>
              </li>
              <li>
                  <a href="#/professores">
                      <p>Professores</p>
                  </a>
              </li>
              
              <li>
                  <a href="#/funcionarios">
                      <p>Funcionários</p>
                  </a>
              </li>
              <li>
                  <a href="#/niveis">
                      <p>Niveis</p>
                  </a>
              </li>
              <li>
                  <a href="#/turmas">
                      <p>Turma</p>
                  </a>
              </li>
              <li>
                  <a href="#/cursos">
                      <p>Cursos</p>
                  </a>
              </li>
              <li>
                  <a href="#/turnos">
                      <p>Turnos</p>
                  </a>
              </li>
              
              <li>
                  <a href="#/horariosTurnos">
                      <p>Horarios Turnos</p>
                  </a>
              </li>
          </ul>
  	</div>
</body>
</html>